.mixin.out

config
!config
config/*
!config/ftbutilities.cfg
!config/ftblib.cfg
!config/quickleafdecay.cfg
!config/enderzoo/
!config/IC2.ini

logs
java-test.log
usercache.json

journeymap
world
/OpenComputersMod-*